research/.ipynb_checkpoints
.vscode
venv
/backend/server/apps/endpoints/migrations/__pycache__
/backend/server/apps/endpoints/__pycache__
/backend/server/apps/ml/__pycache__
/backend/server/server/__pycache__